@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: teal;
  font-family: Roboto-Mono;
  margin: 0;
  padding: 0;
  background-image: url("img/neom-207NEuFvjlg-unsplash.jpg");
  background-size: cover;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: aliceblue;
}

header {
    color: whitesmoke;
    font-size: 20px;
    background-color: rgba(255, 0, 0);
    height: 80px;
    transition: background-color 2s ease-out;
}

header:hover {
    background-color: rgb(180, 0, 0);
    cursor: pointer;
}

section.navigation {
    display: flex;
}

.navigation a:link,
.navigation a:visited {
    font-family: Roboto-Mono;
    color: aliceblue;
    font-size: 19px;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation a:active {
    text-decoration: underline;
}

.navigation div {
    margin: 5px;
}

main.coins {
    text-align: center;
}

.coins h3 {
    color: green;
}    


section.primary,
section.secondary {
    display: block;
    /* margin: 10px 0px 10px 5px; */
    align-content: center;
    margin: 0 auto;
    text-align: right;
}

article.prices h2,
article.top-traded h2 {
    text-align: center;
    font-size: 30px;
}

main.coins {
    position: relative;
    width: auto;
    height: 140px;
    overflow-x: hidden;
}

.primary h2,
.secondary h2 {
    font-size: 28px;
}

.primary h3,
.secondary h3 {
    font-size: 24px;
}

.primary {
    display: inline-block;
    white-space: nowrap;
    padding: 15px 0px 15px 0px;
    width: auto;
    height: 100px;
    position: absolute;
    left: 5%;
    /* top: 0%; */
    animation: primary 15s linear 0;
}

.primary article {
    display: inline-block;
    width: inherit;
    height: inherit;
    padding: 10px;
}

.secondary {
    display: block;
    white-space: nowrap;
    padding: 15px 0px 15px 0px;
    width: auto;
    height: 100px;
    position: absolute;
    left: 100%;
    top: 0%;
    animation: secondary 15s linear 0;
}

.secondary article {
    display: inline-block;
    width: inherit;
    height: inherit;
    padding: 10px;
}

form {
    display: block;
}

div.top-traded {
    overflow: hidden;
    display: inline-block;
    width: 90%;
    height: auto;
}

section.top-traded {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 20rem;
    color: teal;
    font-size: 19px;
    width: 90%;
    transform: translate(0%);
    transition: 2s linear;
}

section.top-traded.hidden {
    transform: translate(-100%);
    transition: 2s linear;
}

.top-traded div {
    transform: translate(0%);
    transition: 2s linear;
}

.top-traded div.hidden {
    /* display: none; */
    transform: translate(0%);
    transition: 2s linear;
}

.top-traded ul {
    list-style: square;
    font-size: 28px;
    /* border: 1px solid blue; */
}

article.move-left,
article.move-right {
    font-size: 24px;
    height: 15px;
    display: inline-block;
    vertical-align: bottom;
    padding: 0px 0px 0px 0px;
}

article.move-left:hover,
article.move-right:hover {
    font-size: 26px;
}

article.move-left h3,
article.move-right h3 {
    padding: 10px 15px 0px 5px;
    color: aliceblue;
}

article.move-left h3:active,
article.move-right h3:active {
    color: red;
}

form input {
    margin: 5px 15px 15px 0px;
    height: 25px;
}

@keyframes primary {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes secondary {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}


@media (max-width: 1000px) {
    h1, 
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: small;
    }
    
    header {
        font-size: small;
        height: 40px;
    }

    .navigation a:link {
        font-size: 12px;
    }
    
    section.news {
        grid-template-columns: repeat(2, 1fr);
    }

	section.top-traded div {
        width: 1rem;
    }
}

@media (max-width: 500px) {

}